{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> Word Counter</title>
  </head>
  <body>
<!--Navigation -->
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{% url 'hello' %}">Word Counter</a></h1>
    <ul>
      <li><a href="{% url 'hello' %}" class="active">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>

<div class="hero">
  <div class="container">
    <h1>Word Counter</h1>
    <p>Count the most frequently used words on a webpage easily </p>
    <form>
      <button type="submit" formaction="{% url 'home' %}">Start </button>
    </form>

  </div>

</div>

</body>
</html>
